fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.1.3
email-validator
python-multipart
pydantic[email-validator]
python-docx
fpdf2
PyMuPDF
anthropic
